.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  margin-top: 56px; 
  margin-bottom: 80px; 
}

.login-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form .form-control {
  margin-bottom: 15px;
}

.login-form .btn {
  width: 100%;
}